@charset "utf-8";

body{
	font-family: "Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 12px;
	line-height: 1.5;
	overflow-x:hidden;
	margin:0;
	padding: 0;
}

.head {
	height: 100px;
	background: #2c2c2c;
	box-shadow: 0 2px 2px #928d8d;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}


.head .logo{
	position: absolute;
	left: 10%;
	height: 100%;
	float: left; 
}

.head .logo img{
	height: 100px;
	vertical-align:middle;
}

.head a{
	text-decoration: none;
}

.head .menu{
	float: left; 
	position: absolute;
	left: 25%;
	top: 23px;
}

.head .menu ul{
	list-style:none;
}

.head .menu li{
	float:left;
}

.head .menu .sub-menu a{
	color: #ffffff;
	font-size: 20px;
	padding: 0 60px;
}

.head .menu .sub-menu a:hover,
.head-package .head-parent .menu-parent .sub-menu a:hover,
.head-package .head-sub .menu-second .sub-item a:hover{
	text-decoration: underline;
}

.head-package{
	height: 130px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.head-package .head-parent{
	height: 50px;
	background: #2c2c2c;
	box-shadow: 0 2px 2px #928d8d;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition:all;
	transition-duration: 0.5s;
}

.head-package .head-parent a{
	text-decoration: none;
}

.head-package .head-parent .menu-parent{
	float: left; 
	position:absolute;
	width: 60%;
	left: 20%;
	right: 20%;
}

.head-package .head-parent .menu-parent ul{
	list-style:none;
}

.head-package .head-parent .menu-parent li{
	float:left;
	width: 25%;
	text-align: center;
}

.head-package .head-parent .menu-parent .sub-menu a{
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 3px;
}

.head-package .head-sub{
	height: 80px;
	background: #E9DFDF;
	box-shadow: #DDD6D6;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	z-index: 99;
	transition:all;
	transition-duration: 0.5s;
}

.head-package .head-sub .logo{
	position: absolute;
	left: 7%;
	height: 100%;
	float: left; 
}

.head-package .head-sub .logo img{
	height: 80px;
	vertical-align:middle;
}

.head-package .head-sub .menu-second{
	position: absolute;
	left: 20%;
	right: 10%;
	top: 10%;
	bottom: 10%;
}

.head-package .head-sub .menu-second .sub-item a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #abaaaa;
	padding: 0px 55px;
	font-size: 15px;
}

.head-package .head-sub .menu-second ul{
	list-style: none;
}

.head-package .head-sub .menu-second .sub-menu li{
	float: left;
	width: 20%;
	text-align: center;
	white-space: nowrap;
}

#triangle-down {
	z-index:100;
	position: absolute;
    width: 0;
    height: 0;
    top:50px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 14px solid #2c2c2c;
    transition: all;
    transition-duration:0.5s;
}


.container{
	width: 100%;
	background-image: url(../imgs/bg.png);
	background-repeat: repeat-y;
}

.clearfix { 
  *zoom: 1; 
} 

.clearfix:before, 
.clearfix:after { 
  display: table; 
  line-height: 0; 
  content: ""; 

} 

.clearfix:after { 
  clear: both; 
} 

.footer{
	width: 100%;
	height: 100px;
	background: #2c2c2c;
}

.footer .copyright{
	text-align: center;
	color: #B8AFAF;
}

#back-to-top{
	position: absolute;
	right: 20px;
	z-index: 9999;
	display: none;
}

#back-to-top a{
	color: #aba9a9;
}

#back-to-top a:hover{
	color: #3f3f3f;
}
